<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table >
    <thead>
    <tr>
        <th> Student Number </th>
        <th> Name </th>
        <th> Email </th>
        <th> Date Of Birth </th>
        <th> Age </th>
        <th> City </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "student: ${students}">
        <td th:text = "${student.studentNumber}"></td>
        <td th:text = "${student.name}"></td>
        <td th:text = "${student.email}"></td>
        <td th:text = "${student.dob}"></td>
        <td th:text = "${student.age}"></td>
        <td th:text = "${student.city}"></td>
    </tr>
    </tbody>

</table>
<br>
<a th:href = "@{/manage/add}" > Add New Student</a>

</body>
</html>